@keyframes glow {
    from {
      border-color: #FF6384;
    }
    to {
      border-color: #36A2EB;
    }
  }
  
  .containertres {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(135deg, #f3f3f3, #e2e2e2);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    text-align: center;
    width: 500px;
    height: 1000px;
    margin: 0 auto; /* Centra el contenedor principal horizontalmente */
  }
  
  .containertres:hover {
    transform: scale(1.02);
  }
  
  h1 {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: color 0.3s ease;
  }
  
  .containertres:hover h1 {
    color: #007bff;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chart-container {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0 auto;
  }
  
  .chart-container:hover {
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  }
  
  .center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: black;
    text-align: center;
  }
  
  .ph-message {
    margin-top: 50px;
    font-size: 1.5em;
    color: #555;
    padding: 20px;
    border-radius: 10px;
    background-color: #f7f7f7;
    display: inline-block;
    max-width: 80%;
    border: 5px solid;
    border-image-source: linear-gradient(45deg, #FF6384, #FFCE56, #36A2EB);
    border-image-slice: 1;
    animation: glow 1s infinite alternate;
    text-align: center;
  }
  
  .download-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .download-button:hover {
    background-color: #0056b3;
  }
  